<!DOCTYPE html>
<html>
  <head>
    <title>Alpha Careers</title>
    <link rel="stylesheet" href="https://first-website-with-flask.therealtoxe.repl.co/static/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
  </head>
  <body>
    
      <img class="logo"src="https://first-website-with-flask.therealtoxe.repl.co/static/logo.png"><h1>Alpha Careers</h1>
    <div id="container">
    <p id="quote">Set your job alerts our experts will take care of it </p>
    <img class="banner" src="https://first-website-with-flask.therealtoxe.repl.co/static/banner.jpg">
    

    <h2>About Alpha</h2>
    <p class ="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <h2>Trending Job Openings</h2>
    <p class="bodytext">Show Jobs here</p>
    <div id="button">
      <button>Contact Us</button>
    </div>
  </div>  
  </body>
</html>