<div style="padding-left: 20px;" class="row jobtitle border-bottom">
  <div class='col-9'>
          <h5>
          {{job['title']}}
          </h5>

      <div class="jobloc">
          <h6>
          <b>Location:</b> {{job['location']}}
          </h6>
      </div>
      <div class="jobsalary">
          <h6>
          <b>Salary:</b> {{job['salary']}}
          </h6>
      </div>
  </div>
  <div class='col-3 applybutt'>
    <a type="button" class="btn btn-outline-primary" href="mailto:hello@alphacareers.com?subject=Applying%20to%20{{job['title']}}&body=Name%3A%20%3Cyour_name_here%3E%0D%0A%0D%0AResume_Link%3A%20%3Cyour_resume_link%3E%0D%0A%0D%0AGithub%3A%20%3Cyour_GitHub_Link%3E%0D%0A%0D%0ALinkedin%3A%20%3CYour_LinkedIn_link%3E">Apply</a>
  </div>
</div>